*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
/* header and navigation styles */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    align-items: center;
   
}
nav li{
    margin-right: 50px;
}
.btn-primary{
    background-color: #FD6E0A;
    height: 64px;
    border-radius: 5px;
    color: aliceblue;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 36px;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.sub-title{
    font-weight: 600;
font-size: 45px;
color: #474747;
}
.title{
    font-weight: 700;
font-size: 85px;
color: #181818;
}
.description{
    font-weight: 400;
font-size: 18px;
color: #757575;
margin-bottom: 30px;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}
/* main section */
/* about section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section-title{
    font-weight: 700;
font-size: 35px;
color: #181818;
text-align: center;
margin-bottom: 30px;
}
.about-me{
    margin-top: 100px;
    background: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
}
.section-titles{
    font-weight: 700;
font-size: 35px;
text-align: center;
margin-bottom: 30px;
text-align: center;
margin-top: 100px;
margin-bottom: 30px;
}
.section-description{
    color: #757575;
    font-weight: 400;
font-size: 18px;
text-align: center;
margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;

}
.info-description{
    font-weight: 700;
font-size: 20px;
color: #474747;
}
.skills-container{
    display: flex;
    gap: 24px;
 

}
.skill-title{
    font-weight: 700;
font-size: 20px;
color: #181818;
margin-top: 30px;
margin-bottom: 20px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding:  30px 20px;
}
section{
    margin-top: 130px;
}
.resume-container{
    display: flex;
    gap: 24px;

}
.resume-box{
    margin-top: 30px;
    margin-bottom: 30px;
   
}
.resume-heading{
    font-weight: 700;
font-size: 30px;
margin-bottom: 30px;
}
.resume-head{
    font-weight: 700;
font-size: 35px;
text-align: center;
margin-bottom: 110px;

}
.resume-institute{
margin-bottom: 30px;
font-weight: 700;
font-size: 25px;
color: #757575;
}
.resume-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.resume-degree{
    font-weight: 700;
    font-size: 25px;
    font-weight: 700;
font-size: 25px;
margin-bottom: 20px;
}
.resume-btn{
    margin-top: 30px;
   text-align: center;
}
/* footer */
.contact .section-title{
    text-align: left;
    font-weight: 700;
font-size: 35px;
color: #181818
}
.section-decoration{
    margin-bottom: 20px;
}
.contact{
    display: flex;
    gap: 120px;
    background: #FFF8F3;
    padding: 130px 200px;
    
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    width: 100%;
    border: 0;
    padding: 18px 30px;
}
.contact a{
    text-decoration: none;
    font-weight: 400;
font-size: 16px;
color: #474747;
}